body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #1e1e1e, #121212);
    color: #fff;
    text-align: center;
}
header {
    padding: 80px 20px;
    background: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease-in-out;
}
header h1 {
    font-size: 3em;
    margin: 0;
}
.container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    transition: all 0.3s ease-in-out;
}
.container img {
    max-width: 40%;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 20px 40px;
    background: #ff4e50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.btn:hover {
    background: #fc913a;
    transform: scale(1.05);
}
footer {
    margin-top: 50px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.8);
    font-size: 0.9em;
    transition: all 0.3s ease-in-out;
}

.image_demo {
    padding: 30px;
}

.release {
    padding: 40px;
    background: rgba(0, 0, 0, 0.1);
    font-size: 2em;
    margin-top: 30px;
    transition: all 0.5s ease-in-out;
    font-family: monospace;
}